<!--
  Generated template for the PastbetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="black">
      <ion-title>Apostas Passadas</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-list>
          <ion-card color="ticket" tappable (click)="Detail(game)" class="cardTicket" *ngFor="let game of list">
            <ion-grid>
              <ion-row justify-content-center>
                <ion-col col-10 align-self-center >
            <div class="content-tick">
          
                <ion-label color="white"  class="label13">Data:{{game?.liga.created | date: "dd/MM/yyyy"}} · {{game?.liga.created | date: "HH:mm"}}</ion-label>
                <ion-label  color="white" class="label18" ><span   class="label18Edit">{{game?.equipo.nombre}}</span><span  color="black" class="label20"> {{game?.goles_ganador}} - {{game?.goles_perdedor}} </span> {{game?.equipos2.nombre}}</ion-label>
                <ion-label  color="white" class="label14" >{{game?.liga.liga}}</ion-label>
            
          </div>
          </ion-col>
            <ion-col  align-self-center >
              <div class="content-dol">
                <ion-label color="white" class="label20">$5</ion-label>
                <ion-label color="white" class="label13">Aposta</ion-label>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
            </ion-card>
          </ion-list>
  
  </ion-content>
  