page-pastbets {
    ion-header{
        border-bottom: 2px solid #F8BA00;
    }
    ion-title{
        text-align: center;
        font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 30px;
    }
    .content{
        background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,1) 75%),url("../assets/images/background/Topa_4_1.jpg") no-repeat  top;
        img{
            width: 35%;
            height: 35%;
        }
        .container{
            display: inline-flex;
        }
        ion-label{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            margin:0px;
        }
        
        .cardTicket{
            mask-image: url("../assets/icon/Ticket_mocho.svg");
            mask-size:100%;
            mask-position: 10%;
            margin-top: 5%;
        }
        .content-tick{
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 100%;
        
           
        }
        .content-dol{
            position: relative;
            float: left;
            top: 50%;
            left: 0%;
            transform: translate(-50%, 5%);
            width: 100%;
            transform: rotate(6.32deg);
           
        }
        .label13{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 13px;
            text-align: center;
            margin: 0px;
        }
        .label14{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: center;
            margin: 0px;
        }
        .label18{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
            margin: 0px;
        }
        .label20{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
            text-align: center;
            margin: 0px;
        }
        .label24{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 24px;
            text-align: center;
            margin: 0px
        }
    }
}
