<!--
  Generated template for the RankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
    <ion-toolbar class="header" mode="md" color="black">
      <ion-segment mode="md" #segments  [(ngModel)]="page">
        <ion-segment-button value="0"  (click)="selectedTab(0)">
        <ion-label color="white" style="margin: 0%;">Ranking do Mês</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1"  (click)="selectedTab(1)">
            <ion-label color="white" style="margin: 0%;">Ranking Global</ion-label> 
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
    <ion-slides  #slider (ionSlideDidChange)="slideChanged()">
        <ion-slide  >
          <div class="content-info">
    <div class="container-card">
        <img class="avatar" src="../assets/images/avatars/256_1.png" />
    <ion-grid>
    <ion-row justify-content-center >
        <ion-col align-self-center>

            <ion-label style="font-size: 20px; text-align: left;margin: 0px;" color="primary">Minha Posicao</ion-label>
           <ion-label style="font-size: 20px; text-align: left;margin: 0px;" color="white" >Nome de Usuario</ion-label>
           <ion-label style="font-size: 16px; text-align: left;margin: 0px;" color="primary">Pontos: 12</ion-label>
          
         </ion-col>
    
  </ion-row>
</ion-grid>
</div>
</div>
 
<div  class="content-list" *ngFor="let player of players | slice:1; let i = index"> 
  <ion-list>
   <ion-card class="ion-card"  >
    
      <img  center class="img" src="../assets/images/avatars/256_1.png" />
   
      <ion-grid >
      <ion-row justify-content-center>
        <ion-col col-2 align-self-center>
          <ion-label  *ngIf="i+1 >1" style="font-size: 24px; text-align: start;margin: 0px;" color="primary">{{i+1}}</ion-label>
          <ion-icon class="ion-icon" color="primary" *ngIf="i+1 == 1"  name="standar-medal"></ion-icon>

        </ion-col>
        <ion-col col-2>
            
          </ion-col>
          <ion-col col-6>
              <ion-label style="font-size: 20px; text-align: left;margin: 0px;" color="white">Nome de Usuario</ion-label>
              <ion-label style="font-size: 13px; text-align: left;margin: 0px;" color="primary" >Puntos:121</ion-label>
             
            </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-list>
</div>
</ion-slide>
<ion-slide>
    <div class="content-info">
        <div class="container-card">
            <img class="avatar" src="../assets/images/avatars/256_1.png" />
        <ion-grid>
        <ion-row justify-content-center >
            <ion-col align-self-center>
    
                <ion-label style="font-size: 20px; text-align: left;margin: 0px;" color="primary">Minha Posicao</ion-label>
               <ion-label style="font-size: 20px; text-align: left;margin: 0px;" color="white" >Nome de Usuario</ion-label>
               <ion-label style="font-size: 16px; text-align: left;margin: 0px;" color="primary">Pontos: 12</ion-label>
              
             </ion-col>
        
      </ion-row>
    </ion-grid>
    </div>
    </div>
     
    <div  class="content-list" *ngFor="let player of players | slice:1; let i = index"> 
      <ion-list>
       <ion-card class="ion-card"  >
        
          <img  center class="img" src="../assets/images/avatars/256_1.png" />
       
          <ion-grid >
          <ion-row justify-content-center>
            <ion-col col-2 align-self-center>
                <ion-label  *ngIf="i+1 >1" style="font-size: 24px; text-align: start;margin: 0px;" color="primary">{{i+1}}</ion-label>
                <ion-icon class="ion-icon" color="primary" *ngIf="i+1 == 1"  name="standar-medal"></ion-icon>
    
            </ion-col>
            <ion-col col-2>
                
              </ion-col>
              <ion-col col-6>
                  <ion-label style="font-size: 20px; text-align: left;margin: 0px;" color="white">Nome de Usuario</ion-label>
                  <ion-label style="font-size: 13px; text-align: left;margin: 0px;" color="primary" >Puntos:121</ion-label>
                 
                </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
    </div>
</ion-slide>
</ion-slides>
</ion-content>
