page-ranking {
    .header{
        border-bottom: 0px solid #000000;

    }
    ion-content{
        ion-slide.swiper-slide {
            align-items: flex-start;
        }
        background:linear-gradient(to bottom, transparent -20%,rgba(0,0,0,0.9) 60%),url("../assets/images/background/Topa_3.jpg") no-repeat bottom;
       background-color: black;
       background-size: cover;
       ion-slides{
        ion-slide{
            overflow-y: auto;
        overflow-x: hidden;
       .container-card{
           
        display:inline-flex;
        
    }
    .content-info{
        margin-left: 20%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .avatar{
        width: 30%;
        height: 30%;
    }
    .ion-icon{
        width: 2em;
        height: 2em;
        padding: 0px;
        position: absolute;
        float: left;
        top: 50%;
        left:15%;
        transform: translate(-50%, -50%);
    }
   
    .title-center{
        font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: x-large;
text-align: center;
    }
    .img{
        width:auto;
        height: auto;
        padding: 0px;
        position: absolute;
        float: left;
        top: 50%;
        left:30%;
        transform: translate(-50%, -50%);
    }
    .content-list{
        position: relative;
        margin-top: 5%;
    }
    .ion-card{
        background-color: rgba(0,0,0,0.8);
        height: auto;
        border-radius: 5px;
    }
    ion-label{
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        margin:0px;
        
    }
   
    ion-grid {
        text-align: justify;
        align-items: stretch;

    }
    }
}
    }
}
