page-wallet {
    ion-header{
        ion-navbar{
        ion-title{

            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 30px;
            text-align: center;
                }
            }
    }
    
ion-content{
    background:linear-gradient(to bottom, transparent -20%,rgba(0,0,0,0.9) 60%),url("../assets/images/background/Topa_4_1.jpg") no-repeat bottom;
    background-color: black;
    background-size: cover;
    .container{
        display: inline-flex;
        ion-label{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            margin:0px;
        }
    }
    img{

        width: 30%;
        height: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
   
    .ion3-grid {
        text-align: justify;
        align-content: center;
        align-items: stretch;
        
    }
    .label13{
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 13px;
        text-align: center;
        margin: 0px;
    }
    .label14{
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        margin: 0px;
    }
    .label18{
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        margin: 0px;
    }
    .label20{
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        margin: 0px;
    }
    .label24{
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        text-align: center;
        margin: 0px;
    }
    .ion-card1{
        align-content: center;
        height: 75px;
        position: relative;
        background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_1.jpg") no-repeat center;
        background-size: 100%;
        box-shadow: 0px 9px 11px #1E1E1E;
        border-radius: 8px;
    }
    .ion-card2{
        align-content: center;
        height: 75px;
        position: relative;
        background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_4_1.jpg") no-repeat center ;
        background-size: 100%;
        box-shadow: 0px 9px 11px #1E1E1E;
        border-radius: 8px;
    }
    .lbl-buttom{
        font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
text-align: center;
    }
    .button-position{
        position: relative;
            float: left;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

    }
}
}
