<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="black">

  <ion-navbar color="black">
    <ion-title>Wallet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 
        <div class="container">
            <img src="../assets/images/avatars/256_1.png" />
            <ion-grid class="ion3-grid">
            <ion-row justify-content-center >
              
                <ion-col col-12 style="margin-left: 10%;" align-self-center>
                   <ion-label style="font-size: 24px; text-align: left;" color="white" >{{User?.username}}</ion-label>
                 
                   <ion-label style="font-size: 13px; text-align: left;" color="primary">Ranking de posicao: 12</ion-label>
                  
                 </ion-col>
                
                <ion-col  align-self-left> 
                    <ion-label style="font-size: 18px; text-align: center;" color="white" >${{wallet}}</ion-label>
                    <ion-label style="font-size: 14px; text-align: center;" color="primary">Wallet</ion-label>
                  
                  </ion-col>
                <ion-col  align-self-left> 
                    <ion-label style="font-size: 18px; text-align: center;" color="white" >${{Balance?.apuestas*5}}({{Balance?.apuestas}})</ion-label>
                    <ion-label style="font-size: 14px; text-align: center;" color="primary">Apostas</ion-label>
                  
                  </ion-col>
                   <ion-col  align-self-left> 
                      <ion-label style="font-size: 18px; text-align: center;" color="white" >${{Balance?.balance}}</ion-label>
                      <ion-label style="font-size: 14px; text-align: center;" color="primary">Balance</ion-label>
                    
                  </ion-col>
          </ion-row>
        </ion-grid>
        
        </div>
<div class="button-position">


        <ion-card class="ion-card1" tappable>
            <ion-label class="lbl-buttom" color="white">Depósitos</ion-label>
        </ion-card>
        <ion-card class="ion-card2" tappable >
            <ion-label class="lbl-buttom" color="white">Retiros</ion-label>
        </ion-card>
      </div>
</ion-content>
