<ion-tabs (ionChange)="tabSelected($event)" #myTab selectedIndex="2" color="black">
  <ion-tab  [root]="tab1Root"   Large tabIcon="custom-coupon"></ion-tab>
  <ion-tab  [root]="tab2Root" Large tabIcon="custom-list"></ion-tab>
  <ion-tab  [root]="tab3Root" [enabled]="enable"   ></ion-tab>
  
  <ion-fab  center bottom >
      <button  large color="black" style="margin: 0px;" (click)="TappedTab()" ion-fab >
          <ion-icon style="margin: 0px;" [color]="tapped ? 'primary' :'white'" name="customC-copa"></ion-icon>
      </button>
  </ion-fab>
  
  <ion-tab [root]="tab4Root" Large tabIcon="custom-rich"></ion-tab>
  <ion-tab [root]="tab5Root" Large tabIcon="custom-more"></ion-tab>
  
</ion-tabs>
