page-login {
    .body {
        background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,1) 75%),url("../assets/images/background/Topa_6.jpg") no-repeat top;
        
        
        background-position: center;
    background-size: cover;
        background-repeat: no-repeat;
        
        ion-row {
          align-items: center;
          text-align: start;
          align-content: center;
          
        }
    
    .content{
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      
     
        }
   
        ion-item {
            border-radius: 0px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            background-color: transparent;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
            
        }
    
        a {
          text-decoration: none;
          color: #fff;
     
        }
           .logo-row {
             padding-top: auto;
             padding-bottom: 0px;
             
           }
        
        .img-content{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
           
     
     
            .finger-button{
              border-radius: 100%;
            }
            img{
                display: block;
    margin: 0 auto;
                width: 144px;
height: 191px;

            }
        button{
            border-radius: 4px;
            height: 33px;
        }
            
            
#lbl-into{
    
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
margin: 0px;
margin-bottom: 0px;
}
            ion-input{
           
                background: transparent;
                color: white;
                border: 1px solid #ffffff;
                margin-top:0px;
                height: 40px;
                border-radius: 4px;
              
            }
    
      }
      
      @-webkit-keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }
      
      @-moz-keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }
      
      @keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }
      
      h1,
      h6 {
        font-family: 'Open Sans';
        font-weight: 300;
        text-align: center;
        position: absolute;
        top: 45%;
        right: 0;
        left: 0;
      }
    
    
    ion-footer{
      .btn-footer{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        text-decoration-line: underline;
        
    }
    .btn-footer-end{ 
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-align: end;
        text-decoration-line: underline;
        
    }
    .copyright{
      text-align: center;
      font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;

color: rgba(255, 255, 255, 0.7);
  }
    }
    
       
}
