<ion-content class="body" lazy-scroll>
<div class="content"> 

  
<div class="img-content">
    
        <img  src='./assets/imgs/AF_Logo_Topa_5.png' />
      </div>
    
    <div >
     
        <ion-row justify-content-center>
          <ion-col col-10>
              <ion-label id="lbl-into" color="primary" stacked>Entrar</ion-label>
              
              <ion-label color="white" stacked>Nome de Usuário</ion-label>
              <ion-input class="ion-input" [(ngModel)]="email"  type="text"  name="text"  required></ion-input>
               
              </ion-col>
             
        
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10>
                <ion-label color="white" stacked>Password</ion-label>
              <ion-input type="password"  [(ngModel)]="password" name="password"  required></ion-input>
             
            </ion-col>
      </ion-row>
        <ion-row  justify-content-center>
          <ion-col col-8 align-self-center>
            <button ion-button (click)="Login()" style="margin-top: 20px; font-weight: bold;color: #000000;" full center icon-end  type="submit" >
              Jogar! 
            </button>
           
          </ion-col>
        </ion-row>

        
             
        
    </div>
    
  </div>
 
     
  
</ion-content>
<ion-footer>
    <div class="footer">
        <ion-row  >
            <ion-col col-25 >
              <button class="btn-footer" (click)="RecoverPassword()" ion-button clear color="white"  type="submit" >
                Esqueceu a senha 
              </button>
             
            </ion-col>
            <ion-col col-25 >
            
              </ion-col>
              <ion-col col-25 >
                 
                </ion-col>
            <ion-col col-25>
                <button class="btn-footer-end" (click)="Registry()" ion-button clear   color="white" type="submit" >
                  Registo
                </button>
              </ion-col>
          </ion-row>
        <ion-label class="copyright"  color="white">
            @ Copyright 2019 • Topa5
           </ion-label  >
    </div>
  </ion-footer>