<!--
  Generated template for the ConfirmaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content >
    

  <div class="content">
      <div class="img-content">
    
          <img  src='./assets/imgs/AF_Logo_Topa_5.png' />
        </div>
      <ion-row justify-content-center>
          <ion-col col-10>
              <ion-label id="lbl-into" color="primary" stacked>Entre OTP</ion-label>
              
              <ion-label color="white" stacked>OTP de 6 digitos</ion-label>
              <ion-input class="ion-input" type="text" [(ngModel)]="Token"  name="text"  required></ion-input>
               
              </ion-col>
             
        
        </ion-row>
        <ion-row  justify-content-center>
            <ion-col col-8 align-self-center>
              <button class="btn" (click)="verify()" ion-button  full center icon-end  type="submit" >
                Enviar 
              </button>
             
            </ion-col>
          </ion-row>
          <ion-row justify-content-center >
              <ion-col  col-4 align-self-center>
                  <button class="btn-again" full ion-button clear color="white" center type="submit" >
                    Renviee OTP 
                  </button>
                 
                </ion-col>
            </ion-row>
            <ion-row  justify-content-center>
                <ion-col col-10 align-self-center>
                    <ion-label text-wrap class="lbl-text" color="white" >
                      Enviamos um OTP de 6 dígitos para o seu email.
                      Digite abaxio para concluir o processo de registro.
                      OTP é válido por apenas 15 minutos.
                    </ion-label>
                 
                </ion-col>
              </ion-row>
    </div>
   
</ion-content>
<ion-footer >
  <div class="footer">
      
      <ion-label class="copyright"  color="white">
          @ Copyright 2019 • Topa5
         </ion-label  >
  </div>
</ion-footer>