
<ion-content >
    

    <div class="content">
        <div class="img-content">
      
            <img  src='./assets/imgs/AF_Logo_Topa_5.png' />
          </div>
        <ion-row justify-content-center>
                <form [formGroup]="formgroup">
            <ion-col col-10>
                <ion-label id="lbl-into" color="primary" stacked>Esqueceu a Senha</ion-label>
                
                <ion-label color="white" stacked>O email</ion-label>
                <ion-input class="ion-input" type="email" formControlName="email" name="text"  required></ion-input>
                
                </ion-col>
               
          </form>
          </ion-row>
          <ion-row  justify-content-center>
              <ion-col col-8 align-self-center>
                <button class="btn" (click)="newpass()" [disabled]="!formgroup.valid" ion-button  full center icon-end  type="submit" >
                  Enviar 
                </button>
               
              </ion-col>
            </ion-row>
            <ion-row justify-content-center >
                <ion-col  col-4 align-self-center>
                  
                  </ion-col>
              </ion-row>
              <ion-row  justify-content-center>
                  <ion-col col-11 align-self-center>
                      <ion-label text-wrap class="lbl-text" color="white" >
                        Redefina sua senha digitando seu email.<br/>
                        Vamos enviar um OTP de 6 dígitos para redefinir seu senha.
                        Vocé sera solicitando a inserir uma nova senha
                      </ion-label>
                   
                  </ion-col>
                </ion-row>
      </div>
     
  </ion-content>
  <ion-footer >
    <div class="footer">
        
        <ion-label class="copyright"  color="white">
            @ Copyright 2019 • Topa5
           </ion-label  >
    </div>
  </ion-footer>