page-recover-password {
ion-content{
    background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,1) 75%),url("../assets/images/background/Topa_11.jpg") no-repeat  top;
        
        mix-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        ion-input{
           position: static;
            background: transparent;
            color: white;
            border: 1px solid #ffffff;
            margin-top:0px;
            height: 40px;
            border-radius: 4px;
          width: 100%;
        }
        form{
            width: 80%;
        }
        #lbl-into{
            
font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
margin: 0px;
        }
        .img-content{
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          img{
            display: block;
margin: 0 auto;
            width: 144px;
height: 191px;

        }
        .content{
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          .btn{
            border-radius: 4px;
            height: 33px;
            margin-top: 20px; 
            font-weight: bold;
            color: #000000;
        }
        .lbl-text{
            font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: 1.6;
font-size: 13px;
text-align: center;
        }
        .btn-again{
            font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: 11px;
font-size: 18px;
text-align: center;
text-decoration-line: underline;
        }
}
}
