page-more {
    ion-content{
        background:linear-gradient(to bottom, transparent -20%,rgba(0,0,0,0.9) 60%),url("../assets/images/background/Topa_8.jpg") no-repeat bottom;
        background-color: black;
        background-size: cover;
        ion-label{
            font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;
width: 100%;
        }
        ion-grid{
            ion-col{ 
                button{
                    width: 100%;
                    display: block;
                  margin-left: auto;
                  margin-right: auto;
                }
               
                }
        }
       
        
        
           
    }
}
