
<ion-header color="black">

  <ion-navbar color="black">
    <ion-title>Mais</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid padding>
    <ion-row justify-content-center>
      <ion-col  align-self-center>
          <button ion-button medium (click)="Profile()" clear icon-only color="white">
              <ion-icon name="custom-user"></ion-icon>
            </button>
        <ion-label style="margin: 0%;"  color="white">Perfil</ion-label>
      </ion-col>
      <ion-col align-self-center>
          <button ion-button (click)="Password()" medium clear icon-only color="white">
              <ion-icon name="custom-padlock"></ion-icon>
            </button>
          
        <ion-label style="margin: 0%;" color="white">Seguranca</ion-label>
      </ion-col>
      <ion-col align-self-center>
          <button ion-button medium clear icon-only color="white">
              <ion-icon name="custom-settings"></ion-icon>
            </button>
          
        <ion-label style="margin: 0%;" color="white">Configuracão</ion-label>
      </ion-col>
     
    </ion-row>
    <ion-row padding>
      <ion-col align-self-center col-3>
        <button  ion-button medium (click)="LogOut()" clear icon-only color="white">
            <ion-icon name="custom-logout"></ion-icon>
          </button>
      <ion-label style="margin: 0%;" color="white">Sair</ion-label>
    </ion-col>
   
    </ion-row>
  </ion-grid>

</ion-content>
