



<ion-content padding lazy-scroll>
   
  <div class="content">
      <form [formGroup]="formgroup">
      <ion-row justify-content-center>
          <ion-col >
              <div class="img-content">
                  <img  src='./assets/images/background/slogan.png' />
                </div>
              </ion-col>
             
        
        </ion-row>
      
    <ion-row justify-content-center>
        <ion-col col-10>
            <ion-label id="lbl-into" color="primary" stacked>Registo</ion-label>
            
            <ion-label color="white"  stacked>Nome de Usuário</ion-label>
            <ion-input class="ion-input" formControlName="username"  type="text"  name="text"  required></ion-input>
            <div  *ngFor="let validation of validation_messages.username">
                    <div text-wrap class="validator-error" *ngIf="formgroup.controls.username.hasError(validation.type)
                    && formgroup.controls.username.dirty && formgroup.controls.username.touched ">
                            <ion-label class="msjError">{{validation.message}}</ion-label>
                    </div>

                </div>
            </ion-col>
           
      
      </ion-row>
      <ion-row justify-content-center>
          <ion-col col-10>
              
              <ion-label color="white" stacked>O email</ion-label>
              <ion-input class="ion-input" [(ngModel)]="email" formControlName="email" type="email"  name="text"  required></ion-input>
              <div  *ngFor="let validation of validation_messages.email">
                    <div text-wrap class="validator-error" *ngIf="formgroup.controls.email.hasError(validation.type)
                    && formgroup.controls.email.dirty && formgroup.controls.email.touched">
                            <ion-label class="msjError" >{{validation.message}}</ion-label>
                    </div>
                </div>
              </ion-col>
             
        
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10>
                
                <ion-label color="white" stacked>Confirme O email</ion-label>
                <ion-input class="ion-input" type="email" formControlName="reemail"  [(ngModel)]="reemail" name="text"  required></ion-input>
                <div  *ngFor="let validation of validation_messages.reemail">
                        <div text-wrap class="validator-error" *ngIf="formgroup.controls.reemail.hasError(validation.type)
                        && formgroup.controls.reemail.dirty && formgroup.controls.reemail.touched ">
                                <ion-label class="msjError">{{validation.message}}</ion-label>
                        </div>
                    </div>
                </ion-col>
               
          
          </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10>
                
                <ion-label color="white" stacked>Password</ion-label>
                <ion-input class="ion-input" [(ngModel)]="password" formControlName="password"  type="password"  name="text"  required></ion-input>
                <div text-wrap  *ngFor="let validation of validation_messages.password">
                        <div class="validator-error" *ngIf="formgroup.controls.password.hasError(validation.type)
                        && formgroup.controls.password.dirty  && formgroup.controls.password.touched">
                                <ion-label class="msjError">{{validation.message}}</ion-label>
                        </div>

                    </div>
                </ion-col>
               
          
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-10>
                  
                  <ion-label color="white" stacked>Re-Password</ion-label>
                  <ion-input class="ion-input" type="password" formControlName="repassword" [(ngModel)]="repassword" name="text"  required></ion-input>
                  <div  *ngFor="let validation of validation_messages.repassword">
                        <div text-wrap class="validator-error" *ngIf="formgroup.controls.repassword.hasError(validation.type)
                        && formgroup.controls.repassword.dirty && formgroup.controls.repassword.touched">
                                <ion-label class="msjError">{{validation.message}}</ion-label>
                        </div>
                    </div>
                  </ion-col>
                  
            </ion-row>
            <ion-row  justify-content-center>
                <ion-col col-8 align-self-center>
                  <button class="btn-register"
                   ion-button 
                   (click)="registry()"  
                   [disabled]="!formgroup.valid"
                   full center icon-end  type="submit" >
                    Registrar! 
                  </button>
                 
                </ion-col>
              </ion-row>
              <ion-row>
                
                  <ion-col col-25>
                  
                    </ion-col>
                    <ion-col col-25>
                  
                      </ion-col>
                      <ion-col col-25>
                  
                        </ion-col>
                  <ion-col col-25>
                      <button class="btn-footer-end" (click)="Back()" ion-button clear   color="white" type="submit" >
                        Entrar
                      </button>
                    </ion-col>
                </ion-row>
            </form>
    </div>
</ion-content>
<ion-footer >
    <div class="footer">
        
        <ion-label class="copyright"  color="white">
            @ Copyright 2019 • Topa5
           </ion-label  >
    </div>
  </ion-footer>