page-registry {
    ion-content{
        background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,1) 95%),url("../assets/images/background/Topa_2.jpg") no-repeat  top;
        background-size: cover;
        mix-blend-mode: multiply;
        position: fixed ;
    ion-input{
           
        background: transparent;
        color: white;
        border: 1px solid #ffffff;
        margin-top:0px;
        height: 40px;
        border-radius: 4px;
      width: 100%;
    }
    .msjError{
        margin-bottom: 0%;
    }
    #lbl-into{
    
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        margin: 0px;
        margin-bottom: 0px;
        }
    .btn-footer-end{ 
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-align: end;
        text-decoration-line: underline;
        
    }
        .img-content{
            display: block;
            margin-left: auto;
            margin-right: auto;
            
          }
          .content{
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          .btn-register{
            border-radius: 4px;
            height: 33px;
            margin-top: 20px; 
            font-weight: bold;
            color: #000000;
        }
}
ion-footer{
    position: absolute;
        
        .copyright{
          text-align: center;
          font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      margin-top:10px;
      color: rgba(255, 255, 255, 0.7);
      }
        }
}
