<ion-header color="black">

    <ion-navbar hideBackButton color="black">
      <ion-title>Minhas Apostas</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
    <ion-label padding color="white" class="label24" >Champions League</ion-label>
    <ion-card  class="ion-card">

        <ion-grid class="content">
          <ion-row justify-content-center>
            <ion-col text-wrap col-4 >
               <img center class="img"   src="../assets/icon/barcelona.png"/>
               <ion-label class="label16" color="white" style="margin: 0px;" >Paris Saint-Germain FC</ion-label>
            </ion-col>
            <ion-col col-4  align-self-center  >
              

              <ion-label color="white" class="label12" >12/02/2019 · 15:00</ion-label>
              
              <ion-grid no-padding>
                <ion-row justify-content-center>
                  <ion-col align-self-center>
                    <label color="white" class="label-result" >3</label>
                  </ion-col>
                  <ion-col align-self-center>
                     <label color="primary" class="label-vs" > Vs </label>
                   </ion-col>
                   <ion-col align-self-center>
                       <label  color="white" class="label-result" >2</label>
                     </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col text-wrap col-4>
               <img center class="img" src="../assets/icon/barcelona.png"/>
               <ion-label class="label16" color="white" style="margin: 0px;" >Barcelona</ion-label>
            </ion-col>
          </ion-row>

          
        </ion-grid>
     </ion-card>
     <ion-grid class="contentDetail">
       <ion-row>
         <ion-col col-2>

         </ion-col>
         <ion-col col-auto>
           <ion-label color="primary" class="label18-Detail">Apostas Totais:</ion-label>
           <ion-label color="primary" class="label18-Detail">Total $:</ion-label>
           <ion-label color="primary" class="label18-Detail">Premio Estimado</ion-label>
           <ion-label color="primary" class="label18-Detail">Premio Liquido</ion-label>
           <ion-label color="primary" class="label18-Detail">% Ganho</ion-label>
         </ion-col>
         <ion-col>
            <ion-label color="white" class="label18-DetailCenter">10</ion-label>
            <ion-label color="white" class="label18-DetailCenter">50,000</ion-label>
            <ion-label color="white" class="label18-DetailCenter">0,000</ion-label>
            <ion-label color="white" class="label18-DetailCenter">0,000</ion-label>
            <ion-label color="white" class="label18-DetailCenter">0%</ion-label>
          </ion-col>
       </ion-row>
       <ion-row padding>
         <ion-col col-9>

         </ion-col>
         <ion-col >
            <button  ion-button medium  clear icon-only color="white">
                <ion-icon class="ion-icon" name="custom-delete"></ion-icon>
              </button>
         </ion-col>
       </ion-row>

     </ion-grid>
</ion-content>
