page-bet-champion {
    ion-content{
        background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,0.8) 75%),url("../assets/images/background/Topa_5_1.jpg") no-repeat  top;
        
        mix-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        
        .img{
            width: auto;
            height: 3em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
        }
        .content{
            position: relative;
            float: left;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
           
           }
        .ion-cardview{
            
            background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_13.jpg") no-repeat center;
            box-shadow: 0px 9px 11px #1E1E1E;
            mix-blend-mode: multiply;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 8px;
            width: 7em;
            height: 6em;
        }
        .content-date{
            margin-top: 10%;
        }
        .label12{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-align: center;
        }
        .label14{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: center;
        }
        .label18{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
        }
        .label24{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 24px;
            text-align: center;
        }
        .btn-confirm{
            font-family: Abel;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            font-size: 20px;
            border-radius: 4px; 
            height: 1.5em;
            width: 7em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }

    }

}
