
<ion-content >

  <div class="content">
      <ion-buttons star >
          <button class="btn" medium ion-button  clear icon-only color="white">
              <ion-icon name="standar-reply"></ion-icon>
          </button>
        </ion-buttons>  
    <ion-label item-center padding class="label24" color="white">Campeão da Rodada</ion-label>
    <ion-grid  no-padding>
      <ion-row  justify-content-center>
          <ion-col align-self-center>
            <ion-card [style.opacity]="isclick ? '1' : '0.5'" class="ion-cardview" tappable (click)="Button(true)" style="margin: 0%;">
              <img center class="img" src="../assets/icon/barcelona.png"/>
              <ion-label class="label18" [color]="isclick ? 'primary' : 'white'" style="margin: 0px;" >Barcelona</ion-label>
            </ion-card>
           </ion-col>

           <ion-col >
             <div class="content-date">
              <ion-label item-center color="white" class="label12"  style="padding-right: 5px;padding-left: 5px">20/12/2018 · 21:30</ion-label>
              <ion-label color="primary" class="label24" style="margin: 0%;" >Vs</ion-label>
            </div>
            </ion-col>

           <ion-col  align-self-center>
              <ion-card [style.opacity]="isclick ? '0.5' : '1'" class="ion-cardview" tappable (click)="Button(false)" style="margin: 0%;">
              <img center class="img" src="../assets/icon/barcelona.png"/>
              <ion-label class="label18" [color]="isclick ? 'white' : 'primary'" style="margin: 0px;" >Barcelona</ion-label>
            </ion-card>
            </ion-col>
      </ion-row>
      <ion-row style="padding-top: 5%" justify-content-center>
          <ion-col>
            <ion-label color="primary"  class="label14">Jogo: 4</ion-label>
          </ion-col>
          <ion-col>
              <ion-label color="primary" class="label14">Apostas Totais: 10</ion-label>
            </ion-col>
            <ion-col>
                <ion-label color="primary"  class="label14">Total $: 50</ion-label>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <ion-label color="primary" class="label18" style="margin: 4px;">Prêmio Estimado: 12.50$ · 150%</ion-label>
              <ion-label color="white" class="label24" style="margin: 4px;padding-bottom: 10%">Valor da Aposta : 5$</ion-label>
            </ion-col>
         
          </ion-row>
    </ion-grid>

    <button color="primary"  class="btn-confirm" ion-button type="submit" >
            Confirme
    </button>

  </div>

</ion-content>
