
<ion-header class="header">
    <ion-toolbar class="header" mode="md" color="black">
      <ion-segment mode="md" #segments  [(ngModel)]="page">
        <ion-segment-button value="0"  (click)="selectedTab(0)">
            <ion-label color="white" style="margin: 0%;">Jogos </ion-label>
        </ion-segment-button>
        <ion-segment-button value="1"  (click)="selectedTab(1)">
            <ion-label color="white" style="margin: 0%;">Campeñão</ion-label>   
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>


<ion-content no-bounce style="background-color: black;">

      <!-- SLIDES -->
      <ion-slides  #slider (ionSlideDidChange)="slideChanged()">
          <ion-slide class="backgroundOpen">
            <div class="content">
            <ion-grid padding>
              <ion-row style=" margin: -10px;"  justify-content-center no-padding>
                <ion-col  col-1 align-self-center>
                    <ion-buttons end >
                        <button class="btn" medium ion-button  clear icon-only color="white">
                            <ion-icon name="standar-reply"></ion-icon>
                        </button>
                      </ion-buttons>  
              </ion-col>
              <ion-col col-10 align-self-center >
                  <ion-label center style="font-size: 24px;"  color="white">
                      Meu Saldo
                    </ion-label>
                </ion-col>
                
            </ion-row>
            <ion-row no-padding  justify-content-center> 
                <ion-col  col-auto align-self-center> 
                    <ion-label style="font-size: 18px; margin: 0px;" color="white" >${{wallet}}</ion-label>
                    <ion-label style="font-size: 14px; margin: 0px;" color="primary">Wallet</ion-label>
                  
                  </ion-col>
                <ion-col col-4 align-self-center> 
                    <ion-label style="font-size: 18px; margin: 0px;" color="white" >${{Balance?.apuestas*5}}({{Balance?.apuestas}})</ion-label>
                    <ion-label style="font-size: 14px; margin: 0px;" color="primary">Apostas</ion-label>
                  
                  </ion-col>
                   <ion-col col-auto align-self-center> 
                      <ion-label style="font-size: 18px; margin: 0px;" color="white" >${{Balance?.balance}}</ion-label>
                      <ion-label style="font-size: 14px; margin: 0px;" color="primary">Balance</ion-label>
                    
                  </ion-col>
              </ion-row>
              <ion-card  class="ion-card">

                 <ion-grid class="content">
                   <ion-row justify-content-center>
                     <ion-col text-wrap col-4 >
                        <img center class="img"   src="{{DetailGame?.logo1}}"/>
                        <ion-label class="label16" color="white" style="margin: 0px;" >{{DetailGame?.homeTeam}}</ion-label>
                     </ion-col>
                     <ion-col col-4 align-self-center>
                       

                       <ion-label color="white" style="margin: 0px;font-size: 12px" >{{DetailGame?.event_date | date: "dd/MM/yyyy"}} · {{ DetailGame?.event_date | date: "HH:mm"}}</ion-label>
                       <ion-grid no-padding>
                         <ion-row justify-content-center>
                           <ion-col align-self-center>
                             <label color="white" class="label-result" >{{resultwin}}</label>
                           </ion-col>
                           <ion-col align-self-center>
                              <label color="primary" class="label-vs" >Vs</label>
                            </ion-col>
                            <ion-col align-self-center>
                                <label  color="white" class="label-result" >{{resultlost}}</label>
                              </ion-col>
                         </ion-row>
                       </ion-grid>
                     </ion-col>
                     <ion-col text-wrap col-4>
                        <img center class="img" src="{{DetailGame?.logo2}}"/>
                        <ion-label class="label16" color="white" style="margin: 0px;" >{{DetailGame?.awayTeam}}</ion-label>
                     </ion-col>
                   </ion-row>

                   
                 </ion-grid>
              </ion-card>
              <ion-row no-padding justify-content-center>
                <ion-col col-auto>
                  <ion-label class="label18-bet" color="primary">Ganador</ion-label>
                  <button class="betButton" ion-button color="white" (click)="presentPopover($event,'win1')" outline item-center icon-end>
                      <ion-label class="labelButtom" >{{betresult1}}</ion-label>
                      <ion-icon color="primary" name="md-arrow-dropdown"></ion-icon>
                       
                    </button>
                </ion-col>
                <ion-col col-auto>
                    <ion-label class="label18-bet" color="white">Empate</ion-label>
                    <button class="betButton" (click)="presentPopover($event,'tie')" ion-button color="white" outline item-center icon-end>
                        <ion-label class="labelButtom" item-end >{{bettie}}</ion-label>
                        <ion-icon color="primary" name="md-arrow-dropdown"></ion-icon>
                      </button>
                  </ion-col>
                  <ion-col col-auto>
                      <ion-label class="label18-bet" color="primary">Ganador</ion-label>
                      <button class="betButton" ion-button (click)="presentPopover($event,'win2')" color="white" outline item-center icon-end>
                          <ion-label class="labelButtom" >{{betresult2}}</ion-label>
                          <ion-icon color="primary" item-right name="md-arrow-dropdown"></ion-icon>
                        </button>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2>
       
                </ion-col>
                <ion-col col-auto>
                  <ion-label color="primary" class="label18-Detail">Mesma Aposta:</ion-label>
                  <ion-label color="primary" class="label18-Detail">Apostas Totais:</ion-label>
                  <ion-label color="primary" class="label18-Detail">Pote $:</ion-label>
                  <ion-label color="primary" class="label18-Detail">Premio Estimado:</ion-label>
                  <ion-label color="primary" class="label18-Detail">% Ganho</ion-label>
                </ion-col>
                <ion-col>
                   <ion-label color="white" class="label18-DetailCenter">4</ion-label>
                   <ion-label color="white" class="label18-DetailCenter">10</ion-label>
                   <ion-label color="white" class="label18-DetailCenter">50,000</ion-label>
                   <ion-label color="white" class="label18-DetailCenter">0,000</ion-label>
                   <ion-label color="white" class="label18-DetailCenter">0%</ion-label>
                 </ion-col>
              </ion-row>
            <ion-row>
                <ion-col>
                  <ion-label color="white" class="label20" >Valor da Aposta : 5$</ion-label>
                </ion-col>
             <ion-col col-12>
                <button color="primary" class="btn-confirm" ion-button 
                type="submit" (click)="Confirme()">
             Confirme
 
             </button>
             </ion-col>
              </ion-row>
           </ion-grid>
           

          </div>
          </ion-slide>
          
          <ion-slide  class="backgroundClose">
            <div  class="contentSeason">
            <ion-grid padding >
              <ion-row   no-padding justify-content-center>
                <ion-col col-12 align-self-center>
                    <ion-card tappable (click)="DetailPage()" class="ion-cardse">
                      <ion-grid >
                        <ion-row justify-content-center>
                          <ion-col col-auto align-self-center>
                              <img  class="imgseason" src="../assets/icon/barcelona.png"/>
                              <ion-label class="label12" color="white" style="margin: 0px;" >Barcelona</ion-label>
                          
                          </ion-col>
                            <ion-col col-auto align-self-center>

                                <ion-label color="white" class="label-date"  small>20/12/2018 · 21:30</ion-label>
                                 <ion-label color="primary"  class="label18" style="margin: 0%;">Vs.</ion-label>
                              </ion-col>
                              <ion-col col-auto align-self-center>
                                  <img  class="imgseason" src="../assets/icon/barcelona.png"/>
                                  <ion-label class="label12"  color="white"  >Barcelona</ion-label>
                              
                              </ion-col>
                        </ion-row>
                      </ion-grid>
                  
                    </ion-card>
                </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div>
              
            </div>
          </ion-slide>
      </ion-slides>
</ion-content>
