page-bet {
    .header{
        border-bottom: 0px solid #000000;

    }
    ion-content{
        .result{
            font-family: Roboto;
font-style: normal;
font-weight: 900;
line-height: normal;
font-size: 36px;
text-align: center;
margin: 0px;

        }

        .label-vs{
            font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;
color:#F8BA00;
        }

        .img{
            width: auto;
            height: 3em;
            display: block;
  margin-left: auto;
  margin-right: auto;
        }

       .content{
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -5%);
        width: 100%;
       }
       .contentSeason{
        position: relative;
        align-self: auto;
        display: block;
margin-left: auto;
margin-right: 5%;
       }
       
        .ion-card{
            align-content: center;
            height: auto;
            position: relative;
            background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_13.jpg") no-repeat center;
            background-size: 100%;
            box-shadow: 0px 9px 11px #1E1E1E;
            border-radius: 8px;
        }
       
        .backgroundOpen{
            background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,0.8) 75%),url("../assets/images/background/Topa_5_1.jpg") no-repeat  top;
            overflow-y: auto;
            overflow-x: hidden;
        mix-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;

        }
        .backgroundClose{
            background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,0.8) 75%),url("../assets/images/background/Topa_5.jpg") no-repeat  top;
            overflow-y: auto;
            overflow-x: hidden;
        mix-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        }
        .labelbet{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
margin:0px;

        }
        .betButton{
            border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 4px;

width: 100%;
height: 2em;
        }
        .label-result{
            font-family: Roboto;
font-style: normal;
font-weight: 900;
line-height: normal;
font-size: 36px;
text-align: center;
color:white;
        }
        .label18-Detail{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: start;
            margin-top: 0%;
            margin-bottom: 0%;
        }
        .label18-DetailCenter{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
            margin-top: 0%;
            margin-bottom: 0%;
        }
        .labelButtom{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: end;
        }
        .label{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: center;
        }
        .label12{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-align: center;
            margin: 0px;
        }
        .label18{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
        }
        .label16{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            text-align: center;
        }
        ion-slide.swiper-slide {
            align-items: flex-start;
        }
        .label18-bet{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
            margin:0px;
        }
        .label20{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
            text-align: center;
            margin-top: 0%;
            margin-bottom: 0%;
        }
        .label24{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 24px;
            text-align: center;
        }
        .label-date{
            font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: center;
margin: 0px;
        }
        .btn-confirm{
            font-family: Abel;
font-weight: 500;
line-height: normal;
text-align: center;
text-align: center; 
font-size: 20px;
border-radius: 4px; 
height: 1.5em;
width: 9em;
margin-top: 0%;
margin-bottom: 0%;


        }
       ion-icon{
           position: static;
           display: flex; 
margin: auto; 
       }
       .label-font{
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        margin: 0px;
        font-size: 12px
       }
       .imgseason{
        width: auto;
        height: 1.7em;
        display: block;
margin-left: auto;
margin-right: auto;

    }
    .ion-cardse{
        background-color: #000000;
        background-blend-mode: multiply;
        opacity: 0.8;
        border-radius: 5px;
        width: 100%;
        align-content: center;
        height: 60px;
        position: relative;
    }
    
        
    }
}
