page-profile {
    ion-content{
        background:linear-gradient(to bottom, transparent 0%,rgba(0,0,0,0.92) 40%),url("../assets/images/background/Topa_8.jpg") no-repeat  top;
        background-size: cover;
        mix-blend-mode: multiply;
        position: fixed ;
        ion-input{
           
            background: transparent;
            color: white;
            border: 1px solid #ffffff;
            margin-top:0px;
            height: 40px;
            border-radius: 4px;
          width: 100%;
        }
        img{

            width: 25%;
            height: 25%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .msjError{
            margin-bottom: 0%;
        }
        .content{
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          .btn-confirme{
            border-radius: 4px;
            height: 33px;
            margin-top: 20px; 
            font-weight: bold;
            color: #000000;
        }
    }

}
