<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="black">

  <ion-navbar hideBackButton color="black">
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="content">
  <form [formGroup]="formgroup">
    <ion-list>
      <ion-row justify-content-center>
          <ion-col >
              <div class="img-content">
                  <img  src='../assets/images/avatars/256_1.png' />
                </div>
              </ion-col>
             
        
        </ion-row>
      <ion-row justify-content-center>
          <ion-col col-10>
              <ion-label color="white"  stacked>Nome de Usuário</ion-label>
              <ion-input class="ion-input" [(ngModel)]="username" formControlName="username"  type="text"  name="text"  required></ion-input>
              <div  *ngFor="let validation of validation_messages.username">
                      <div text-wrap class="validator-error" *ngIf="formgroup.controls.username.hasError(validation.type)
                      && formgroup.controls.username.dirty && formgroup.controls.username.touched ">
                              <ion-label class="msjError">{{validation.message}}</ion-label>
                      </div>
  
                  </div>
              </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10>
                
                <ion-label color="white" stacked>O email</ion-label>
                <ion-input class="ion-input" [(ngModel)]="email" formControlName="email" type="email"  name="text"  required></ion-input>
                <div  *ngFor="let validation of validation_messages.email">
                      <div text-wrap class="validator-error" *ngIf="formgroup.controls.email.hasError(validation.type)
                      && formgroup.controls.email.dirty && formgroup.controls.email.touched">
                              <ion-label class="msjError" >{{validation.message}}</ion-label>
                      </div>
                  </div>
                </ion-col>
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-10>
                  
                  <ion-label color="white" stacked>Pais</ion-label>
                  <ion-input class="ion-input" type="text" formControlName="country"  [(ngModel)]="country" name="text"  required></ion-input>
                  <div  *ngFor="let validation of validation_messages.country">
                          <div text-wrap class="validator-error" *ngIf="formgroup.controls.country.hasError(validation.type)
                          && formgroup.controls.country.dirty && formgroup.controls.country.touched ">
                                  <ion-label class="msjError">{{validation.message}}</ion-label>
                          </div>
                      </div>
                  </ion-col>
                 
            
            </ion-row>
          <ion-row justify-content-center>
              <ion-col col-10>
                  
                  <ion-label color="white" stacked>ID Neteller</ion-label>
                  <ion-input class="ion-input" [(ngModel)]="idnetter" formControlName="idnetter"  type="text"  name="text"  required></ion-input>
                  <div text-wrap  *ngFor="let validation of validation_messages.idnetter">
                          <div class="validator-error" *ngIf="formgroup.controls.idnetter.hasError(validation.type)
                          && formgroup.controls.idnetter.dirty  && formgroup.controls.idnetter.touched">
                                  <ion-label class="msjError">{{validation.message}}</ion-label>
                          </div>
  
                      </div>
                  </ion-col>
                 
            
            </ion-row>
              <ion-row  justify-content-center>
                  <ion-col col-8 align-self-center>
                    <button class="btn-confirme"
                     ion-button 
                     [disabled]="!formgroup.valid"
                     full center icon-end  type="submit" >
                      Confirme 
                    </button>
                   
                  </ion-col>
                </ion-row>
              </ion-list>
  </form>
</div>
</ion-content>
