

<ion-header color="black">

    <ion-navbar hideBackButton color="black">
      <ion-title>Apostas Feitas</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <ion-label padding color="white" class="label24" >{{DataGame?.liga.liga}}</ion-label>
    <ion-card  class="ion-card">

        <ion-grid class="content">
          <ion-row justify-content-center>
            <ion-col text-wrap col-4 >
               <img center class="img"   src="{{DataGame?.equipo.logo}}"/>
               <ion-label class="label16" color="white" style="margin: 0px;" >{{DataGame?.equipo.nombre}}</ion-label>
            </ion-col>
            <ion-col col-4  align-self-center  >
              

              <ion-label color="white" class="label12" >{{DataGame?.liga.created | date: "dd/MM/yyyy"}} · {{DataGame?.liga.created | date: "HH:mm"}}</ion-label>
              
              <ion-grid no-padding>
                <ion-row justify-content-center>
                  <ion-col align-self-center>
                    <label color="white" class="label-result" >{{DataGame?.goles_ganador}}</label>
                  </ion-col>
                  <ion-col align-self-center>
                     <label color="primary" class="label-vs" > Vs </label>
                   </ion-col>
                   <ion-col align-self-center>
                       <label  color="white" class="label-result" >{{DataGame?.goles_perdedor}}</label>
                     </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col text-wrap col-4>
               <img center class="img" src="{{DataGame?.equipos2.logo}}"/>
               <ion-label class="label16" color="white" style="margin: 0px;" >{{DataGame?.equipos2.nombre}}</ion-label>
            </ion-col>
          </ion-row>

          
        </ion-grid>
     </ion-card>
     <ion-grid class="contentDetail">
       <ion-row justify-content-center>
         <ion-col col-7 wrap>
            <ion-label color="white" class="label24">Resultado Final:</ion-label>
         </ion-col>
        
            <ion-col align-self-center col-auto>
              <label color="white" class="label-result" >2</label>
            </ion-col>
            <ion-col align-self-center col-auto>
               <label color="primary" class="label-vs" > Vs </label>
             </ion-col>
             <ion-col align-self-center col-auto>
                 <label  color="white" class="label-result" >2</label>
               </ion-col>
       </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label color="white" class="label24">Balance</ion-label>
            </ion-col>
          <ion-col col-2>
 
          </ion-col>
          <ion-col col-auto>
            <ion-label color="primary" class="label18-Detail">Apostas Totais:</ion-label>
            <ion-label color="primary" class="label18-Detail">Total $:</ion-label>
            <ion-label color="primary" class="label18-Detail">Ganhadores:</ion-label>
            <ion-label color="primary" class="label18-Detail">Premio:</ion-label>
            <ion-label color="primary" class="label18-Detail">Premio Liquido:</ion-label>
            <ion-label color="primary" class="label18-Detail">% Ganho:</ion-label>
          </ion-col>
          <ion-col>
             <ion-label color="white" class="label18-DetailCenter">10</ion-label>
             <ion-label color="white" class="label18-DetailCenter">50,000</ion-label>
             <ion-label color="white" class="label18-DetailCenter">2</ion-label>
             <ion-label color="white" class="label18-DetailCenter">0,000</ion-label>
             <ion-label color="white" class="label18-DetailCenter">0,000</ion-label>
             <ion-label color="white" class="label18-DetailCenter">0%</ion-label>
           </ion-col>
        </ion-row>
      
 
      </ion-grid>
</ion-content>

  