page-bet-past-detail {
        ion-content{
            background:linear-gradient(to bottom, transparent 0%,rgba(0,0,0,0.95) 60%),url("../assets/images/background/Topa_7_1.jpg") no-repeat  top;
     
            mix-blend-mode: multiply;
            background-size: cover;
            background-repeat: no-repeat;
            .ion-icon{
                width: 1.4em;
                height: 1.4em;
            }
            .content{
                position: relative;
                float: left;
                top:10%;
                left: 50%;
                transform: translate(-50%, -5%);
                width: 100%;
               }
               .contentDetail{
                position: relative;
                float: left;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -5%);
                width: 100%;
               }
               .img{
                width: auto;
                height: 3em;
                display: block;
      margin-left: auto;
      margin-right: auto;
            }
            .label12{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 12px;
                text-align: center;
                margin: 0px;
                margin-top: 0%;
            }
            .label18{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                text-align: center;
            }
            .label18-Detail{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                text-align: start;
                margin-top: 0%;
                margin-bottom: 0%;
            }
            .label18-DetailCenter{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                text-align: center;
                margin-top: 0%;
                margin-bottom: 0%;
            }
            .label16{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                text-align: center;
            }
            .label24{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
                text-align: center;
            }
    
            .label-vs{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
                text-align: center;
                color:#F8BA00;
                
            }
            .label-vsFinal{
                font-family: Abel;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
                text-align: center;
                color:#F8BA00;
                
            }
            
            .label-result{
                font-family: Roboto;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                font-size: 36px;
                text-align: center;
                color:white;
                margin-bottom: 0%;
                margin-top: 0%;
            }
            .label-resultFinal{
                font-family: Roboto;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                font-size: 36px;
                text-align: center;
                color:white;
            }
            .ion-card{
                align-content: center;
                height: auto;
                position: relative;
                background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_13.jpg") no-repeat center;
                background-size: 100%;
                box-shadow: 0px 9px 11px #1E1E1E;
                border-radius: 8px;
            }
           
        }
}
