<ion-header color="black" *ngIf="isDasboard" >

        <ion-navbar hideBackButton color="black">
          <ion-title>Segurança</ion-title>
        </ion-navbar>
      
      </ion-header>
<ion-content >
    

    <div class="content">
            <form [formGroup]="formgroup" >
        <div class="img-content" *ngIf="!isDasboard">
      
            <img  src='./assets/imgs/AF_Logo_Topa_5.png' />
          </div>
        <ion-row justify-content-center>
            <ion-col col-10>
                <ion-label *ngIf="!isDasboard" id="lbl-into" color="primary" stacked>Esqueceu a Senha</ion-label>
                <ion-label *ngIf="isDasboard" id="lbl-into" color="primary" stacked>Atualizar Senha</ion-label>
                <ion-label color="white"  stacked>Senha</ion-label>
                <ion-input class="ion-input" type="password" formControlName="password"  name="text"  required></ion-input>
                <div text-wrap  *ngFor="let validation of validation_messages.password">
                        <div class="validator-error" *ngIf="formgroup.controls.password.hasError(validation.type)
                        && formgroup.controls.password.dirty  ">
                                <ion-label class="msjError">{{validation.message}}</ion-label>
                        </div>

                    </div>
                </ion-col>
               
          
          </ion-row>
          <ion-row justify-content-center>
              <ion-col col-10>
                  
                  <ion-label color="white" stacked>Repetir a Senha</ion-label>
                  <ion-input class="ion-input" type="password"  formControlName="repassword" name="text"  required></ion-input>
                  <div text-wrap  *ngFor="let validation of validation_messages.repassword">
                        <div class="validator-error" *ngIf="formgroup.controls.repassword.hasError(validation.type)
                        && formgroup.controls.repassword.dirty">
                                <ion-label class="msjError">{{validation.message}}</ion-label>
                        </div>

                    </div>
                  </ion-col>
                 
            
            </ion-row>
          <ion-row  justify-content-center>
              <ion-col col-8 align-self-center>
                <button *ngIf="!isDasboard" class="btn" ion-button 
                (click)="changePassword()"  
                   [disabled]="!formgroup.valid"
                 full center icon-end  type="submit" >
                  Enviar 
                </button>
                <button *ngIf="isDasboard" class="btn" ion-button 
                (click)="changePassword()"  
                   [disabled]="!formgroup.valid"
                 full center icon-end  type="submit" >
                  Confirme 
                </button>
               
              </ion-col>
            </ion-row>
            <ion-row justify-content-center >
                <ion-col  col-4 align-self-center>
                  
                  </ion-col>
              </ion-row>
              <ion-row  justify-content-center>
                  <ion-col col-10 align-self-center>
                      <ion-label *ngIf="!isDasboard" text-wrap class="lbl-text" color="white" >
                        Digite seu nova senha
                      </ion-label>
                   
                  </ion-col>
                </ion-row>
                </form>
      </div>
     
  </ion-content>
  <ion-footer *ngIf="!isDasboard">
    <div class="footer">
        
        <ion-label class="copyright"  color="white">
            @ Copyright 2019 • Topa5
           </ion-label  >
    </div>
  </ion-footer>