page-home {
    .content{
        background:linear-gradient(to bottom, transparent 0%,rgba(0,0,0,1) 52%),url("../assets/images/background/Topa_88.jpg")  top center;
        
        mix-blend-mode: multiply;
        background-size: contain;
        background-repeat: no-repeat;
   
        .center{
            align-content: center;
            align-items: center;
        }
        img{
            width: 100%;
            display: block;
          margin-left: auto;
          margin-right: auto;
          
        }
        .box{
            position: relative;
      float: left;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
        }
        ion-label{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            text-align: center;
            margin:0px;
        }
        
        .img{
            width: 100%;
            height: 100%;
            opacity: 0.5;
       
        
        }
.lbl-buttom{
    font-size: 36px; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
}

        .ion-card1{
            align-content: center;
            height: 75px;
            position: relative;
            background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_6.jpg") no-repeat center;
            background-size: 100%;
            box-shadow: 0px 9px 11px #1E1E1E;
            border-radius: 8px;
        }
        .ion-card2{
            align-content: center;
            height: 75px;
            position: relative;
            background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_13.jpg") no-repeat center ;
            background-size: 100%;
            box-shadow: 0px 9px 11px #1E1E1E;
            border-radius: 8px;
        }

        .ion-card3{
            align-content: center;
            height: 75px;
            position: relative;
            background: linear-gradient(180.31deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%),url("../assets/images/background/Topa_3.jpg") no-repeat bottom;
            background-size: 100%;
            box-shadow: 0px 9px 11px #1E1E1E;
            border-radius: 8px;
        }
        
    }
}
