

<ion-content padding class="content">
  <div class="box">
      <ion-row justify-content-center>
            <ion-col col-1>
                     
                </ion-col>
          <ion-col col-3 align-self-center>
              
              <ion-buttons  start>
                  <button ion-button large clear icon-only color="white">
                    <ion-icon name="standar-bell"></ion-icon>
                  </button>
                </ion-buttons>   
              </ion-col>
             <ion-col col-4 align-self-center>
                <img src="../assets/images/avatars/256_1.png" />
       
             </ion-col>
             <ion-col col-3 align-self-center>
                <ion-buttons end>
                    <button large ion-button clear icon-only color="white">
                      <ion-icon name="standar-share"></ion-icon>
                    </button>
                  </ion-buttons>
              </ion-col>
              <ion-col col-1>
                    
                  </ion-col>
        </ion-row>
      <ion-row justify-content-center> 
          <ion-col>
        </ion-col>
        <ion-col align-self-center> 
          <ion-label style="font-size: 24px;" color="white" >{{DataUser?.username }}</ion-label>
          <ion-label style="font-size: 13px;" color="primary">Ranking de posicao: 12</ion-label>
        
        </ion-col>
        
        <ion-col>
          </ion-col>
      </ion-row>
         <ion-row> 
        <ion-col col-3 center> 
            <ion-label style="font-size: 18px;" color="white" >${{wallet}}</ion-label>
            <ion-label style="font-size: 14px;" color="primary">Wallet</ion-label>
          
          </ion-col>
        <ion-col col-6 center> 
            <ion-label style="font-size: 18px;" color="white" >${{Balance?.apuestas*5}}({{Balance?.apuestas}})</ion-label>
            <ion-label style="font-size: 14px;" color="primary">Apostas</ion-label>
          
          </ion-col>
           <ion-col col-3 center> 
              <ion-label style="font-size: 18px;" color="white" >${{Balance?.balance}}</ion-label>
              <ion-label style="font-size: 14px;" color="primary">Balance</ion-label>
            
          </ion-col>
      </ion-row>
      <ion-card class="ion-card1" tappable (click)="Tapped('games')">
          <ion-label class="lbl-buttom" color="white">Jogos</ion-label>
      </ion-card>
      <ion-card class="ion-card2" tappable (click)="Tapped('classification')">
          <ion-label class="lbl-buttom" color="white">Classificacao</ion-label>
      </ion-card>
      <ion-card class="ion-card3" tappable (click)="Tapped('ranking')">
          <ion-label class="lbl-buttom" color="white">Meu Ranking</ion-label>
      </ion-card>
  </div>
</ion-content>
