// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.md,
.ios,
.wp {
.custom-message{
    
    > div{
        background: rgba(0, 0, 0, 0.8);
        background-blend-mode: multiply;
        color:white;
        box-shadow: 0px 0px 4px rgba(248, 186, 0, 0.62);
        border-radius: 5px;
    }
    .alert-ios .alert-message,
  .alert-md .alert-message {
    max-height: 100%;
    color: white !important;
}
}
}
.validator-error{
    text-align: start;
    color: #EB5757;
    

}
ion-footer{
    position: absolute;
        
        .copyright{
          text-align: center;
          font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      margin-top:10px;
      color: rgba(255, 255, 255, 0.7);
      }
        }
ion-header{
    border-bottom: 1px solid #F8BA00;
}
ion-navbar{
    border-bottom: 1px solid #F8BA00;
}

ion-title{
    text-align: center;
    font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 30px;
}
.tabbar {
    border-top: 1px solid #F8BA00;
  }
  .tabs-ios .tabbar {
    border-top: 1px solid #F8BA00;
  }
  
  a.tab-button[aria-selected=true]:nth-of-type(1) {
    color: #F8BA00;
    .tab-button-icon {
        color: #F8BA00 !important;
    }
}
a.tab-button[aria-selected=true]:nth-of-type(2) {
    color: #F8BA00;
    .tab-button-icon {
        color: #F8BA00;
    }
}

a.tab-button[aria-selected=true]:nth-of-type(3) {
    color: #F8BA00;
    .tab-button-icon {
        color: #F8BA00;
    }
}
a.tab-button[aria-selected=true]:nth-of-type(4) {
    color: #F8BA00;
    .tab-button-icon {
        color: #F8BA00;
    }
}
a.tab-button[aria-selected=true]:nth-of-type(5) {
    color: #F8BA00;
    .tab-button-icon {
        color: #F8BA00;
    }
}

 ion-fab{
     border-style: solid;
        border-radius: 50%;
        border-width: 1px;
        border-color: #F8BA00;
 }
.platform-ios{
 /* iphone XS Max */
 @media only screen 
 and (min-device-width : 414px) 
 and (max-device-height : 896px) 
 and (-webkit-device-pixel-ratio : 3) {
    ion-fab { margin-bottom: 39px;
        border-style: solid;
        border-radius: 50%;
        border-width: 1px;
        border-color: #F8BA00;
   
    }
  }

/* iphone XR */
@media only screen and (min-device-width : 414px)
 and (max-device-height : 896px) 
 and (-webkit-device-pixel-ratio : 2) { 
    ion-fab { margin-bottom: 39px;
        border-style: solid;
        border-radius: 50%;
        border-width: 1px;
        border-color: #F8BA00;
       
    }
    
 }

 /* iphone X and XS */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        ion-fab { margin-bottom: 39px;
            border-style: solid;
            border-radius: 50%;
            border-width: 1px;
            border-color: #F8BA00;
            
        }
    }
     /* iphone 4 */
     @media only screen and (min-device-width: 320px)
      and (max-device-height: 480px)
       and (-webkit-device-pixel-ratio: 2) {
        ion-fab { margin-bottom: 5px;
            border-style: solid;
            border-radius: 50%;
            border-width: 1px;
            border-color: #F8BA00;
            
        }
        }

     /* iphone 5 */
     @media only screen 
     and (min-device-width: 320px) 
     and (max-device-height: 568px) 
     and (-webkit-device-pixel-ratio: 2) {
        ion-fab { margin-bottom: 5px;
            border-style: solid;
            border-radius: 50%;
            border-width: 1px;
            border-color: #F8BA00;
            
        }
      }
 
     /* iphone 6, 6s, 7, 8 */
     @media only screen 
     and (min-device-width: 375px) 
     and (max-device-height: 667px)
      and (-webkit-device-pixel-ratio: 2) {
        ion-fab { margin-bottom: 5px;
            border-style: solid;
            border-radius: 50%;
            border-width: 1px;
            border-color: #F8BA00;
           
        }
       }
 
     /* iphone 6+, 6s+, 7+, 8+ */
     @media only screen 
     and (min-device-width: 414px) 
     and (max-device-height: 736px) 
     and (-webkit-device-pixel-ratio: 3) {
        ion-fab { margin-bottom: 5px;
            border-style: solid;
            border-radius: 50%;
            border-width: 1px;
            border-color: #F8BA00;
        }
      }
    }
    
   
    /*Icons SVG*/
    ion-icon {
        &[class*="custom-"] {
            mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.5em;
    height: 1.5em;
        } // custom icons
        &[class*="customC-"] {
            mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 3em;
    height: 3em;
        } 
        &[class*="standar-"] {
            mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
        } 
        &[class*="copa"]{
            mask-image:url("../assets/icon/Copa.svg");
        }
        &[class*="coupon"]{
            mask-image:url("../assets/icon/coupon.svg");
        }
        &[class*="list"]{
            mask-image:url("../assets/icon/list.svg");
        }
        &[class*="more"]{
            mask-image:url("../assets/icon/more-button-interface-symbol-of-three-horizontal-aligned-dots.svg");
        }
        &[class*="rich"]{
            mask-image:url("../assets/icon/rich.svg");
        }
        &[class*="bell"]{
            mask-image:url("../assets/icon/bell.svg");
        }
        
        &[class*="share"]{
            mask-image:url("../assets/icon/share.svg");
        }
        &[class*="reply"]{
            mask-image:url("../assets/icon/reply.svg");
        }
        &[class*="barca"]{
            mask-image:url("../assets/icon/barcelona.png");
        }
        &[class*="padlock"]{
            mask-image:url("../assets/icon/padlock.svg");
        }
        &[class*="settings"]{
            mask-image:url("../assets/icon/settings.svg");
        }
        &[class*="user"]{
            mask-image:url("../assets/icon/user.svg");
        }
        &[class*="logout"]{
            mask-image:url("../assets/icon/turn-off.svg");
        }
        &[class*="medal"]{
            mask-image:url("../assets/icon/medal.svg");
        }
        &[class*="delete"]{
            mask-image:url("../assets/icon/delete.svg");
        }
       
    }