
<ion-header color="black">

  <ion-navbar color="black">
    <ion-title>Apostas Abertos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="content">
  <div class="container">
    <img src="../assets/images/avatars/256_1.png" />
    <ion-grid class="ion3-grid">
    <ion-row justify-content-center >
        
        <ion-col col-12 style="margin-left: 10%;" align-self-center>
           <ion-label style="font-size: 24px; text-align: left;" color="white" >{{User?.username}}</ion-label>
         
           <ion-label style="font-size: 13px; text-align: left;" color="primary">Ranking de posicao: 12</ion-label>
          
         </ion-col>
        
        <ion-col  align-self-left> 
            <ion-label style="font-size: 18px; text-align: center;" color="white" >${{wallet}}</ion-label>
            <ion-label style="font-size: 14px; text-align: center;" color="primary">Wallet</ion-label>
          
          </ion-col>
        <ion-col  align-self-left> 
            <ion-label style="font-size: 18px; text-align: center;" color="white" >${{Balance?.apuestas*5}}({{Balance?.apuestas}})</ion-label>
            <ion-label style="font-size: 14px; text-align: center;" color="primary">Apostas</ion-label>
          
          </ion-col>
           <ion-col  align-self-left> 
              <ion-label style="font-size: 18px; text-align: center;" color="white" >${{Balance?.balance}}</ion-label>
              <ion-label style="font-size: 14px; text-align: center;" color="primary">Balance</ion-label>
            
          </ion-col>
  </ion-row>
</ion-grid>

</div>
<ion-list>
<ion-card color="primary" tappable (click)="Detail()" class="cardTicket" *ngFor="let game of list">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col  col-10 align-self-center >
  <div class="content-tick">
      <ion-label color="black"  class="label13">Data:{{game?.liga.created | date: "dd/MM/yyyy"}} · {{game?.liga.created | date: "HH:mm"}}</ion-label>
      <ion-label  color="black" class="label18" ><span class="label18Edit">{{game?.equipo.nombre}}</span><span  color="black" class="label20"> {{game?.goles_ganador}} - {{game?.goles_perdedor}} </span> {{game?.equipos2.nombre}}</ion-label>
      <ion-label  color="black" class="label14" >{{game?.liga.liga}}</ion-label>
  
          
</div>
</ion-col>
  <ion-col  align-self-center >
    <div class="content-dol">
      <ion-label color="black" class="label20">$5</ion-label>
      <ion-label color="black" class="label13">Aposta</ion-label>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-card>
</ion-list>
</ion-content>
