<!--
  Generated template for the GamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
    <ion-toolbar class="header" mode="md" color="black">
      <ion-segment mode="md" #segments  [(ngModel)]="page">
        <ion-segment-button value="0"  (click)="selectedTab(0)">
        <ion-label color="white" style="margin: 0%;"> Abertos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1"  (click)="selectedTab(1)">
            <ion-label color="white" style="margin: 0%;">Cerados</ion-label> 
        </ion-segment-button>
        <ion-segment-button value="2"  (click)="selectedTab(2)">
            <ion-label color="white" style="margin: 0%;">Ao Vivo</ion-label> 
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>


<ion-content no-bounce  style="background-color: black;">

      <!-- SLIDES -->
      <ion-slides  #slider (ionSlideDidChange)="slideChanged()">
          <ion-slide class="backgroundOpen" >
                
           <ion-list>
            <ion-grid >
              
              <ion-row *ngFor="let games of list" justify-content-center>
                <ion-col col-10>
              <ion-card class="card" tappable  style="background-color: black;margin: 0%;" (click)="DetailPage(games)" >
                  <ion-grid >
                      <ion-row justify-content-center>
                        <ion-col text-wrap col-3 align-self-center >
                            <img  class="imgseason" src="{{games?.logo1}}"/>
                            <ion-label class="label12" color="white" style="margin: 0px;" >{{games?.homeTeam}}</ion-label>
                        
                        </ion-col>
                          <ion-col col-auto align-self-center>

                              <ion-label color="white" class="label12"  small>{{games?.event_date | date: "dd/MM/yyyy"}} · {{games?.event_date | date: "HH:mm"}}</ion-label>
                               <ion-label color="primary"  class="label18" style="margin: 0%;">Vs.</ion-label>
                            </ion-col>
                            <ion-col text-wrap col-3 align-self-center>
                                <img  class="imgseason" src="{{games?.logo2}}"/>
                                <ion-label class="label12"  color="white"  >{{games?.awayTeam}}</ion-label>
                            
                            </ion-col>
                      </ion-row>
                    </ion-grid>
                  
              </ion-card>

              </ion-col>
              <ion-col col-1 align-self-center>
                  <ion-buttons style="margin: 0%" >
                      <button class="btn" large ion-button star clear icon-only color="primary">
                          <ion-icon name="ios-arrow-forward"></ion-icon>
                      </button>
                    </ion-buttons>   
              </ion-col>
            </ion-row>
           </ion-grid>
          </ion-list>
          </ion-slide>
          <ion-slide class="backgroundClose">
                
            <ion-list >
                
              <ion-row *ngFor="let gamespast of listPast | slice:0:limit" justify-content-start>
                <ion-col col-11 align-self-center>
                  <ion-card  >
                      <ion-grid >
                          <ion-row   justify-content-center>
                            <ion-col text-wrap col-3 align-self-center>
                                <img  class="imgseason" src="{{gamespast?.logo1}}"/>
                                <ion-label class="label12" color="white" style="margin: 0px;" >{{gamespast?.homeTeam}}</ion-label>
                            
                            </ion-col>
                              <ion-col col-auto align-self-center>
    
                                  <ion-label color="white" class="label12"  >{{gamespast?.event_date | date: "dd/MM/yyyy"}} · {{gamespast?.event_date | date: "HH:mm"}}</ion-label>
                                  <ion-grid no-padding>
                                      <ion-row justify-content-center >
                                        <ion-col align-self-center>
                                          <ion-label color="white" class="label18-result">{{gamespast?.goalsHomeTeam}}</ion-label>
                                        </ion-col>
                                        <ion-col align-self-center>
                                           <ion-label color="primary" class="label18"  >Vs</ion-label>
                                         </ion-col>
                                         <ion-col align-self-center>
                                             <ion-label  color="white" class="label18-result" >{{gamespast?.goalsAwayTeam}}</ion-label>
                                           </ion-col>
                                      </ion-row>
                                    </ion-grid>
                                  
                                </ion-col>
                                <ion-col text-wrap col-3 align-self-center>
                                    <img  class="imgseason" src="{{gamespast?.logo2}}"/>
                                    <ion-label class="label12"  color="white"  >{{gamespast?.awayTeam}}</ion-label>
                                
                                </ion-col>
                          </ion-row>
                        </ion-grid>
                  </ion-card>
                </ion-col>
                </ion-row>
            </ion-list>
            <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                  </ion-infinite-scroll>
              
          </ion-slide>
          <ion-slide class="backgroundClose">
                
              <ion-row justify-content-start>
                  <ion-col col-10 align-self-center>
                    <ion-card  >
                        <ion-grid >
                            <ion-row justify-content-center>
                              <ion-col col-auto align-self-center>
                                  <img  class="imgseason" src="../assets/icon/barcelona.png"/>
                                  <ion-label class="label12" color="white" style="margin: 0px;" >Barcelona</ion-label>
                              
                              </ion-col>
                                <ion-col col-auto align-self-center>
      
                                    <ion-label color="white" class="label12"  >20/12/2018 · 21:30</ion-label>
                                    <ion-grid no-padding>
                                        <ion-row justify-content-center >
                                          <ion-col align-self-center>
                                            <ion-label color="white" class="label18-result">1</ion-label>
                                          </ion-col>
                                          <ion-col align-self-center>
                                             <ion-label color="primary" class="label18"  >Vs</ion-label>
                                           </ion-col>
                                           <ion-col align-self-center>
                                               <ion-label  color="white" class="label18-result" >0</ion-label>
                                             </ion-col>
                                        </ion-row>
                                      </ion-grid>
                                    
                                  </ion-col>
                                  <ion-col col-auto align-self-center>
                                      <img  class="imgseason" src="../assets/icon/barcelona.png"/>
                                      <ion-label class="label12"  color="white"  >Barcelona</ion-label>
                                  
                                  </ion-col>
                            </ion-row>
                          </ion-grid>
                  
                    </ion-card>
                  </ion-col>
                  <ion-col col-1 align-self-center>
                      <ion-buttons style="margin: 0%" >
                          <button class="btn" large ion-button star clear icon-only color="primary">
                              <ion-icon name="ios-arrow-forward"></ion-icon>
                          </button>
                        </ion-buttons>   
                  </ion-col>
                  </ion-row>
          </ion-slide>
      </ion-slides>
</ion-content>
