page-games {
    .header{
        border-bottom: 0px solid #000000;

    }
    ion-content{
        
       
        .card{
            background-color: #000000;
            background-blend-mode: multiply;
            opacity: 0.8;
            border-radius: 5px;
            width: 100%;
            align-content: center;
            height: auto;
            position: relative;
        }
        ion-slide.swiper-slide {
            align-items: flex-start;
        }
        
        .backgroundOpen{
            background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,0.8) 75%),url("../assets/images/background/Topa_5_1.jpg") no-repeat  top;
        
        mix-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        }
        .slide-zoom{
            width:100%;
            height:100%;
        }
        .backgroundClose{
            background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,0.8) 75%),url("../assets/images/background/Topa_7_1.jpg") no-repeat  top;
            mix-blend-mode: multiply;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .label12{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-align: center;
            margin: 0px;
        }
        .label18{
            font-family: Abel;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            text-align: center;
            margin: 0px;
        }
        .label18-result{
            font-family: Roboto;
font-style: normal;
font-weight: 900;
line-height: normal;
font-size: 18px;
text-align: center;
margin: 0px;
        }
        .imgseason{
            width: auto;
            height: 1.7em;
            display: block;
    margin-left: auto;
    margin-right: auto;
    
    
        }
        
    }

}
