<!--
  Generated template for the LeaguesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

<div class="box">
  <div>
    
    <ion-row justify-content-center >
      
    <ion-col  align-self-center col-6 *ngFor="let player of players">
      
            <div tappable (click)="Games(player)" class="cs">
            <img  class="image" src="../assets/images/leagues/{{player.background}}" />
          </div>
        <ion-label color="white">{{ player.title }}</ion-label>
      </ion-col>
    </ion-row>

  </div>

<ion-row class="static" *ngIf="isGamen" justify-content-center>
    
    <ion-col >
        <div class="img-content">
            <img  src='./assets/images/background/slogan.png' />
          </div>
        </ion-col>
       
  
  </ion-row>
</div>
</ion-content>
