page-leagues {
    ion-content{
        background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,1) 75%),url("../assets/images/background/Topa_1_1me.jpg") no-repeat  top;
        
        mix-blend-mode: multiply;
        background-size: contain;
        background-repeat: no-repeat;
        .test{
            
        }
        .static{
            position: static;
        }
        .box{
            position: relative;
            float: left;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        ion-label{
         //   [style.background-image]="'url(../assets/images/leagues/'+ player.background + ')'"
            font-family: Abel;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
text-align: center;
        }
        .cs{
            background: linear-gradient(181.26deg, rgba(255, 255, 255, 5e-05) -7.51%, rgba(0, 0, 0, 0.5) 58.16%)no-repeat  top;
            align-content: center;
            height: 130px;
            position: static;
            
            
            box-shadow: 0px 9px 11px #1E1E1E;
            border-radius: 8px;
            box-shadow: 0px 9px 11px #1E1E1E;
}
.image{
           height: inherit;
           width: min-content;
}
        img{
            mix-blend-mode: multiply;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

}
