<!--
  Generated template for the ClassificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="black">

    <ion-navbar hideBackButton color="black">
      <ion-title>{{Title}}</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

</ion-content>
