page-classification {
    ion-content{
        background:linear-gradient(to bottom, transparent 10%,rgba(0,0,0,1) 75%),url("../assets/images/background/Topa_6_1.jpg") no-repeat  right;
        
        mix-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
    }

}
